{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block body %}


{{ macros.navbar() }}

<div class="container">
    <div class="jumbotron shadow-lg p-3 mb-5 bg-light">
      <h1 class="display-3">About our Project</h1>
      <p class="lead text-uppercase">This page lists approach, common terms, and other helpful information.</p>
      <hr class="my-2">
    </div>
    <!-- Start of website -->
    
        </div>
          <div class="col-12">
            <div id="section2">
            <h3>Inspiration</h3>
            <h5>Enrollment over time</h5>
        </div>
            <hr>
            <div id="section2">
                      <h2>Process</h2>
                      <p>This is a test section for things that we need to test for the website  </p>
                      
                  </div>
            <hr>
            <div id="section3">
                      <h2>Common Terms</h2>
                      <!-- Pull down for States -->
                      <p>This is a test section for things that we need to test for the website  </p>

                  </div>
            <hr>
            <div id="section4">
                      <h2>Data Limitations/ Next steps</h2>
                      <p>This is a test section for things that we need to test for the website  </p>

                    </div>
                </div>
            </div>
        </div>
       <hr>

       {{ macros.footer() }}
    </div>

{% endblock %}
