{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block body %}


{{ macros.navbar() }}

  <!-- JumboTron -->
  
  <div class="container">
    <div class="jumbotron shadow-lg p-3 mb-5 bg-light">
      <div class="row">
      <div class="col-sm-2" id="myScrollspy">
        <div class="list-group">
            <a class="list-group-item list-group-item-action active" href="#section1">Overview</a>
            <a class="list-group-item list-group-item-action" href="#section2">Comparison</a>
            <a class="list-group-item list-group-item-action" href="#section3">Data</a>
            <!-- <a class="list-group-item list-group-item-action" href="#section4">Data</a> -->
        </div>
      </div>
      <div class="col-sm-10">
        <h1 class="display-3">Healthcare in The U.S.</h1>
        <p class="lead text-capitalize">How Adaptation impacted U.S. Communities.</p>
      </div>
    </div>
  </div>
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
  <!-- Start of website -->
    <div class="row">
        <div class="col-10">
          <div id="section1">
          <h3>Health Ranking</h3>
          <h5>Select Year</h5> 
          <div id="map"></div>
        </div>
          <hr>
          <div id="section2">
                    <h2>Comparison</h2>
 <!-- DropDown Menu Code for Menu 1 and Menu 2 in a single row!-->
          <div class="row">

            <div class="col-md-6">
              <div class="well">
                <h4>Choose Year, Then Pick State</h4><br>
                <h4>Comparison Year 1</h4>
                <select id="selDatayear1"></select>
                <h4>Comparison State 1</h4>
                <select id="selDataset1"></select><br>
      
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">State Health Data</h3>
                </div>
                <div id="sample-metadata1" class="panel-body"></div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="well">
                  <h4>Choose Year, Then Pick State</h4><br>
                  <h4>Comparison Year 2</h4>
                  <select id="selDatayear2"></select>
                  <h4>Comparison State 2</h4>
                  <select id="selDataset2"></select><br>
      
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">State Health Data </h3>
                  </div>
                  <div id="sample-metadata2" class="panel-body"></div>
                </div>
              </div>
            </div>
          
  <!-- End of DropDown Menu Code for Menu 1 and 2-->
      <div class="row">
        <div class="col-md-5">
          <div id="bar"></div>
        </div>
        <div class="col-md-5">
          <div id="gauge"></div>
        </div>
        <div class="col-md-12">
          <div id="bubble"></div>
        </div>
      </div>



      <div class="row">
        <table>
          <!-- Table Goes Here-->
        </table>
      </div>
    </div>
          <hr>
          <div id="section3">
                    <h2>Data Table</h2>
                    <div class="row">
                      <div class="col-8">
                          <div class="card">
                              <div class="card-body">
                                <canvas id="myChart" width="550" height="400"></canvas>
                              </div>
                          </div>
                      </div>
                   </div>     
                </div>
              </div>
            <div style="height: 700px"></div>
          </div>
        </div>
       </div>
   

     <hr>
  {{ macros.footer() }}
    </div>

{% endblock %}