{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block body %}


{{ macros.navbar() }}
  <!-- JumboTron -->
  <div class="container">
  <div class="jumbotron shadow-lg p-3 mb-5 bg-light">
    <h1 class="display-3">Jess Is Here</h1>
    <p class="lead text-uppercase">I am working on creating a test flask application for this project.</p>
    <hr class="my-2">
    <p>It uses utility classes for typography and
       spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#!" role="button">Some action</a>
    </p>
  </div>
  <!-- Start of website -->
  
    <div class="row">
      <div class="col-sm-2" id="myScrollspy">
        <div class="list-group">
            <a class="list-group-item list-group-item-action active" href="#section1">Overview</a>
            <a class="list-group-item list-group-item-action" href="#section2">State Overview</a>
            <a class="list-group-item list-group-item-action" href="#section3">Comparison</a>
            <a class="list-group-item list-group-item-action" href="#section4">Give Me The Data</a>
        </div>
      </div>
        <div class="col-10">
          <div id="section2">
          <h2>Section 2</h2>
          <h5>Demographics Charts</h5> 
          <div id="map"></div>
        </div>
          <hr>
          <div id="section2">
                    <h2>State Overview</h2>
                    <p>This is a test section for things that we need to test for the website  </p>
                    <p>This is a test section for things that we need to test for the website  </p>
                    <p>This is a test section for things that we need to test for the website  </p>
                    <p>This is a test section for things that we need to test for the website  </p>
                    <p>This is a test section for things that we need to test for the website  </p>
                    
                </div>
          <hr>
          <div id="section3">
                    <h2>Comparison</h2>
                    <p>This is a test section for things that we need to test for the website  </p>
                    <p>This is a test section for things that we need to test for the website  </p>
                    <p>This is a test section for things that we need to test for the website  </p>
                    <p>This is a test section for things that we need to test for the website  </p>
                </div>
          <hr>
          <div id="section4">
                    <h2>Data Table</h2>
                    <p>This is a test section for things that we need to test for the website  </p>
                    <p>This is a test section for things that we need to test for the website  </p>
                    <p>This is a test section for things that we need to test for the website  </p>
                  </div>
              </div>
          </div>
      </div>
     <hr>
  {{ macros.footer() }}
    </div>

{% endblock %}