<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Compare Your State</h1>
        <h3>1. Pick Your Year</h3>
        <h3>2. Pick Your State.</h3>  
        <h3>3. View the health data for your state in that year.</h3>
      </div>
    </div>

    <!-- DropDown Menu Code for Menu 1 and Menu 2 in a single row!-->
    <div class="row text-center">

      <div class="col-md-6">
        <div class="well">
          <h4>Choose Year, Then Pick State</h4><br>
          <h4>Comparison Year 1</h4>
          <select id="selDatayear1"></select>
          <h4>Comparison State 1</h4>
          <select id="selDataset1"></select><br>
          
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">State Health Data</h3>
          </div>
          <div id="sample-metadata1" class="panel-body"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="well">
          <h4>Choose Year, Then Pick State</h4><br>
          <h4>Comparison Year 2</h4>
          <select id="selDatayear2"></select>
          <h4>Comparison State 2</h4>
          <select id="selDataset2"></select><br>
          
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">State Health Data </h3>
          </div>
          <div id="sample-metadata2" class="panel-body"></div>
        </div>
      </div>

      <!-- End of DropDown Menu Code for Menu 1 and 2-->

      <div class="col-md-5">
        <div id="bar"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>

    <div class="row">
      <table>
        <!-- Table Goes Here-->
      </table>

    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/comparison.js"></script>

</body>

</html>
